
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="alert alert-danger" ><h4 style="text-align:center">Lỗi thanh toán</h4></div>
</div>

