@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div style="background-color: #5cb85c; width:fit-content; padding:20px; color:white; border-radius:5px" role="alert">
        Đặt hàng thành công ! Đơn hàng đã được tiếp nhận.
    </div>
    <div style="background-color: #0275d8; width: fit-content;margin-top:30px; padding: 10px; color: white; border-radius: 5px" role="alert">
        <a style="text-decoration:none; color:white" href="/home/index">Tiếp tục mua hàng.</a>
    </div>
</div>

